__pycache__/
*.py[cod]
*$py.class
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
.env
.venv
env/
venv/
ENV/
node_modules/
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
.vscode/
certs/*
ESP32Code/lib/utils/secrets.h
ESP32Code/.pio
ESP32Code/.vscode/*
.DS_Store
Thumbs.db
*.log